
:root {
  --primary-color: #00427f;
  --secondary-color: #FF9F43; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f8f9fa;
}

body, input, textarea, button {
  user-select: text;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--primary-color);
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  all: unset;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
}


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

/* /////////////////////////////////// */



.auth_page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
}

.auth_page .auth_box {
  max-width: 500px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.auth_page  .auth_box .auth_box_logo{

  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.auth_page .auth_box .auth_box_title{
  margin-bottom: 10px;
  color: var(--primary-color);
}
.auth_page .auth_box .auth_links{
  color: var(--primary-color);
  font-size: 15px;
}
/* //////////////////////// */
.form_holder {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form_holder .submit_btn {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-self: center;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  min-width: 40%;
}

.form_holder .submit_btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}


.form_holder .input_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form_holder .input_label {
  font-size: 15px;
  font-weight: 500;
  color: #4f4f4f;
}

.form_holder .input_field {
  width: 100%;
  padding: 10px 14px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease;
  outline: none;
}

.form_holder .input_field:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form_holder .input_error {
  border-color: red;
}

.form_holder .input_error:focus {
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.form_holder .error_message {
  color: red;
  font-size: 12px;
}







/* 
//////////////////////////////////////// */

.filter_page_holder .left_side{
 border-right: 1px solid var(--primary-color);
 padding: 15px;
}


.filter_page_holder .right_side  {
  display: flex;
flex-direction: column;
gap: 5px;


}




.filter_page_holder .right_side .top_section  {
  border-bottom: 1px solid var(--primary-color);
  margin-right :-10px;
  margin-left :-10px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;


}



.filter_page_holder .right_side .top_section .view_style{

  display: flex;
  gap: 10px;
}

.filter_page_holder .right_side .top_section .view_style .single_view{
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  color: var(--primary-color);
}

.filter_page_holder .right_side .top_section .view_style .single_view:hover{
 
  color: var(--secondary-color)
}
.filter_page_holder .right_side .top_section .view_style .single_view.selected{
  background-color: var(--primary-color);
  color: #fff;
}




.form_holder.search_section{
  position: relative;  
}
.form_holder.search_section .input_container input{
  padding-right: 40px;

border-radius: 100px;
}

.form_holder.search_section .search_btn{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--secondary-color);
  cursor: pointer;
}





.filter_page_holder .right_side  .products_list{
  min-height: 400px;
}












 /* 
//////////////////////////////////////// */
.container {
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
  padding: 0 15px;
}
 
.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;  
}
 
[class^="col-"] {
  padding: 10px;
  flex: 1;
}
 
.col-12 { flex-basis: 100%; max-width: 100%; }
.col-9 { flex-basis: 75%; max-width: 753%; }
.col-8  { flex-basis: 66.66%; max-width: 66.66%; }
.col-6  { flex-basis: 50%; max-width: 50%; }
.col-4  { flex-basis: 33.33%; max-width: 33.33%; } 
.col-3  { flex-basis: 25%; max-width: 25%; }
@media (max-width: 992px) {
  .col-9, .col-8, .col-6, .col-4 ,.col-3 { flex-basis: 100%; max-width: 100%; }
}
